*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #171717;
}
body {
  background: #efefef;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}
.content {
  padding: 5%;
  width: 50%;
  margin-left: 25%;
}
.content .add-item {
  padding: 10px;
  border: 1px solid #efefef;
  width: 100%;
  background: #fafafa;
}
.content .clear-all {
  cursor: pointer;
}
.content .items {
  position: relative;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.content .items .item {
  position: relative;
  width: 100%;
  height: 35px;
  background: #fafafa;
  padding: 10px;
  margin-top: 5px;
}
.content .items .item .checkbox {
  position: absolute;
  left: 10px;
}
.content .items .item .remove {
  position: absolute;
  right: 10px;
  color: #f00;
}
.content .items .item .done {
  text-decoration: line-through;
}
