@require 'nib'

flex()
  display: -webkit-flex
  display: flex

row()
  flex-direction: row

col()
  flex-direction: column

center()
  justify-content: center

spaceout()
  justify-content: space-between

vertical-center()
  align-items: center

navbar()
  flex()
  spaceout()
  vertical-center()
