@require 'nib'

@font-face
   font-family Knockout
   font-style normal
   src url("/fonts/Knockout-HTF28-JuniorFeatherwt.otf")

// font anti-aliasing
// TODO: maybe turn off if the pixel density isnt correct?
better-font()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

// some font stacks
helvetica()
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-weight: 300

helvetica-thin()
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-weight: 300

knockout()
  font-family: "Knockout", Arial, Helvetica, sans-serif
  font-weight: 300
